@media screen and (max-width: 768px) {
    .pop-up {
        height: 34px;
        padding: 0 45px;

        font-size: 12px;
    }

    .pop-up > a {
        line-height: 34px;
    }

    .close {
        right: 12px;
        width: 18px;
        height: 18px;
    }
    header {
    top: -34px;
    height: 88px;
    }

    main {
    margin-top: -54px;
    }
    .logo-box {
        width: 76px;
    }

    .util-box {
        gap: 12px;
    }

    .util-box img {
        width: 20px;
        height: 20px;
    }

    .main-visual {
        height: 620px;
    }

    .slide-text {
        top: auto;
        bottom: 60px;
        left: 24px;

        width: calc(100% - 48px);

        transform: none;
    }

    .slide-text h2 {
        margin: 18px 0 12px;

        font-size: 34px;
        letter-spacing: -1px;
    }

    .slide-text p {
        font-size: 15px;
    }

    .slide-img img {
        object-position: 65% center;
    }
}
@keyframes main-slide {
    /* 1번 */
    0%,
    12% {
        transform: translateX(0);
    }

    /* 2번 */
    14.285%,
    26.285% {
        transform: translateX(-100%);
    }

    /* 3번 */
    28.571%,
    40.571% {
        transform: translateX(-200%);
    }

    /* 4번 */
    42.857%,
    54.857% {
        transform: translateX(-300%);
    }

    /* 5번 */
    57.143%,
    69.143% {
        transform: translateX(-400%);
    }

    /* 6번 */
    71.429%,
    83.429% {
        transform: translateX(-500%);
    }

    /* 7번 */
    85.714%,
    97.714% {
        transform: translateX(-600%);
    }

    /* 복제한 1번 */
    100% {
        transform: translateX(-700%);
    }
}
