header {
    border: 1px solid red;
    position: relative;
    z-index: 100;
    
}
.pop-up::before {
    content: "";
    width: 30px;
}
.pop-up {
    background-color:#A16E72 ;
    padding-left: 60px; padding-right: 16px;
    width: 100%; height: 38px;
    color: #FFF; 
    font-family: "Noto Sans KR";
    font-size: 15px;
    font-weight: 500;
    line-height: 38px; /* 253.333% */
    letter-spacing: -0.56px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.close {
    display: flex;
    align-items: center;
    width: 24px; height: 100%;
}
.close a {
    display: block;
    width: 14px; height: 14px;
    
}
.close img {
    width: 100%; height: 100%;
}
.top-bar {
    background-color: #fff;
    backdrop-filter: blur(10px);
    height: 56px;
    padding-left: 20px; padding-right: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid #e5e5e5;
    transition: top 0.3s ease-in-out;

}
.logo-box {
    width: 90px;   
}
.logo-box img {
    width: 100%;
    display: block;
}
/* 전체 박스 정렬 */
.util-box {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.until-box li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.main-visual {
    width: 100%; height: 720px;
    background-color: antiquewhite;
     position: relative;
}

/* 📺 1. 눈에 보이는 창문 (Viewport) */
.slide-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden; /* 🚨 창문 밖으로 삐져나간 슬라이드들은 숨기기 */
}

/* 🚃 2. 슬라이드들을 가로로 엮은 기차 */
.slide-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    /* 첫 번째 슬라이드 */
    transform: translateX(0%);
    /* 두 번째 슬라이드 */
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;

}

/* 📦 3. 개별 슬라이드 한 칸 */
.slide-item {
    flex: 0 0 100;
    width: 100%;
    height: 100%;
    padding: 0 10%; /* 좌우 적당한 여백 */
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
   
    background-color: #f7ede9; /* 힌스 특유의 미니멀 핑크톤 배경 */
}

/* ✍️ 텍스트 배치 */
.slide-text {
    width: 40%;
}
.slide-text h2 {
    font-size: 48px;
    font-weight: bold;
    margin: 15px 0;
}

/* 🖼️ 이미지 배치 */
.slide-img {
    width: 50%;
}
.slide-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}